extends ../layout
block content
    include ../includes/navbar
    link(rel="stylesheet", href="../stylesheets/stores.css")
    each store in stores
        .card.bg-dark(style="border-radius: 15px; padding: 1rem; position: relative; left: 30%;width: 30%; margin: 2rem 1rem 2rem 1rem;")
            .card-body(style="color: lightgrey;")
                h2.card-title Store ID: #{store.Store_id}  
                h2 City #{store.City}
                br
                h3 Street: #{store.Street} #{store.Number_}, #{store.Postal_code}
                h3 Phone: #{store.Phone}
                a.card-link(href=`/stores/${store.Card}` style="color: lightblue;") store Profile
