extends ../layout
block content
    include ../includes/navbar
    link(rel="stylesheet", href="../stylesheets/table.css")
    script(src="../js/stores/storeTransactionsTable.js")
    script(type ='text/babel' src="../js/charts/storeSalesPerCategoryChart.js")
    .container-fluid
        .row
            .col
                .card.bg-dark
                    .card-body
                        h1 City:    #{store[0].City} 
                        h2 Street:  #{store[0].Street} #{store[0].Number_}
                        h4 Postal Code: #{store[0].Postal_code}
                        h4 Operating Hours: #{store[0].Operating_hours}
                        h4 Size : #{store[0].Size_} 
            .col
                h4(style="margin-bottom: 1rem; text-align: center;") Products sold per category
                #store_sales_per_category_chart
        .row
        h3 Store Transactions
        .row    
            .col
                label(for="pieces_slider") # of products:
                input#pieces_slider.js-range-slider(name="amount_slider" type="text" value="")
            .col     
                label(for="amount_slider") Amount range:
                input#amount_slider.js-range-slider(name="amount_slider" type="text" value="")
            .col
                .btn-group.btn-group-toggle(data-toggle="buttons" id='radio_buttons')
                    label.btn.btn-primary Cash
                        input(type="radio" name="payment_method" value='Cash')
                    label.btn.btn-light.active All
                        input(type="radio" name="payment_method" value='All') 
                    label.btn.btn-primary Credit Card
                        input(type="radio" name="payment_method" value='Credit Card')
        .row
            .col
                table#storeTransactionsTable.table.table-bordered.table-light(style="margin: 1rem 2rem 2rem 0rem;")
                    thead.thead-dark
                        tr  
                            th Card Number
                            th Customer Name
                            th Date
                            th Total pieces
                            th Total Amount
                            th Payment Method
                            th Receipt Number
                    tbody
                        each trans in transactions
                            tr 
                                td#customer_card #{trans.Card}
                                td#customer_name #{trans.Name}
                                td#date_time #{trans.Date_time}
                                td#number_of_pieces #{trans.Total_piecies}
                                td#total_amount #{trans.Total_amount}
                                td#payment_method #{trans.Payment_method}
                                td#receipt #{trans.Trans_id}