extends layout
block content
    script.
            const redirectBack = (ref) =>  window.location = ref
    .container(style="margin: 2rem 0.5rem 1rem 1rem;")
        h3(style="margin: 2rem 1rem 1rem 0rem; padding:0.5rem; text-align:center;") Receipt
        table#receipt.table.table-bordered.table-light(style="margin: 1rem 2rem 2rem 0rem; widht:80%;")
                thead.thead-dark
                    tr  
                        th Product
                        th Pieces 
                        th Category
                        th Price per unit
                tbody
                    each row in receipt
                        tr
                            td #{row.product_name}
                            td #{row.product_pieces}
                            td #{row.product_category}
                            td #{row.product_price} &#36;
        .container
            .row
                .col
                    button.btn.btn-dark(style="font-size:large; padding: 1rem; margin:1rem 1rem 1rem 1.5rem; border-radius:15px;" type="button" onClick=`redirectBack('${ref}')`) Back        
                .d-flex.flex-column
                    table.table.table-bordered.table-light(style="margin: 1rem 2rem 2rem 0rem; width: 100%; text-align: center;  ")
                            thead.thead-dark
                                tr  
                                    th Total pieces 
                                    th Total amount 
                            tbody
                                tr
                                    td #{receipt[0].total_pieces}   
                                    td #{receipt[0].total_amount} $         