extends ../layout
block content
    include ../includes/navbar
    script(src="../js/products/productsTable.js")
    .container(style="position: relative;  margin-top: 3rem;")
        .row
            .col(style="margin-left: 3rem;")
                a.btn.btn-success(href= "/products/addProduct" role="button") Add Product
                    i.fas.fa-plus-circle(style="margin-left:2rem;")
            .col
                a.btn.btn-info(href= "/products/editProduct" role="button") Edit Product
                    i.far.fa-edit(style="margin-left:2rem;")       
            .col
                a.btn.btn-danger(href= "/products/deleteProduct" role="button") Delete Product
                    i.fa.fa-trash(style="margin-left:2rem;")       
    .container(id="wrapper" style="margin-top: 3rem;")
        table#productTable.table.table-bordered.table-light
            thead.thead-dark
                tr  
                    th(scope="col" data-field='barcode') Barcode
                    th(scope="col" data-field='price') Price
                    th(scope="col" data-field='name') Name
                    th(scope="col" data-field='brand') Brand
                    th(scope="col" data-field='category') Category 
            tbody
                each product in products   
                    tr      
                        td #{product.Barcode}
                        td #{product.Price}
                        td #{product.prod_name}
                        td #{product.Brand_name} 
                        td #{product.categ_name}
