extends ../layout
block content
    include ../includes/navbar
    script(src="../js/customers/customerTransactionsTable.js")
    script(type ='text/babel' src="../js/charts/top10PerCustomerChart.js")
    script(type ='text/babel' src="../js/charts/customerVisitingHoursChart.js")
    .container
        .row
            .col    
                .card.bg-dark(style="padding:0.5rem;  border: 3px inset grey; width: 100%; margin: 3rem 0rem 2rem 1rem;")
                    .card-body(style="color: lightgrey; text-align: center;")
                        h3.card-title #{customer[0].Name} | Card ID: #{customer[0].Card} | Card Points: #{customer[0].Points}
                        br
                        h4 City: #{customer[0].City} | Address: #{customer[0].Street} #{customer[0].Number_}, #{customer[0].Postal_code}
                        h4 Visits : Store A , Store B
                        h4 Phone: #{customer[0].Phone}
                        h4 Family members: #{customer[0].Family_members}, Pet: #{customer[0].Pet} 
                        h4 Transactions per week: ? | Amount spent per week: ?
                        h4 Transactions per month: ? | Amount spent per month: ?
        .row
        h2(style="text-align:center; margin: 2rem 1rem 2rem 1rem; padding: 0.5rem;") Customer Transactions
        .row
            .col(style="margin: 2rem 1rem 2rem 1rem;") 
                label(for="date_slider") Date range:
                input#date_slider.js-range-slider(name="amount_slider" type="text" value="")
            .col(style="margin: 2rem 1rem 2rem 1rem;") 
                label(for="pieces_slider") # of products:
                input#pieces_slider.js-range-slider(name="amount_slider" type="text" value="" style="width: 100%; margin: 2rem 1rem 2rem 1rem;")
            .col(style="margin: 2rem 1rem 2rem 1rem;")         
                label(for="amount_slider") Amount range:
                input#amount_slider.js-range-slider(name="amount_slider" type="text" value="" style="width: 100%; margin: 2rem 1rem 2rem 1rem;")
            .col(style="margin: 2rem 1rem 2rem 1rem;") 
                .btn-group.btn-group-toggle(data-toggle="buttons")
                    label.btn.btn-primary(style="padding: 0.5rem; border-radius:15px; margin: 1rem 0.5rem 0rem 0.5rem;") Cash
                        input#cash(type="radio" name="cash")
                    label.btn.btn-primary(style="padding: 0.5rem; border-radius:15px; margin: 1rem 0.5rem 0rem 0.5rem") Card
                        input#card(type="radio" name="card")
        .row
            .col
                table#customerTransactionsTable.table.table-bordered.table-light(style="margin: 2rem 2rem 2rem 0rem;")
                    thead.thead-dark 
                        tr  
                            th(scope="col" data-field='Barcode') Barcode
                            th(scope="col" data-field='Brand_name') Brand_name
                            th(scope="col" data-field='Price') Price
                            th(scope="col" data-field='categ_name') categ_name
                            th(scope="col" data-field='prod_name') prod_name  
                    tbody
                        tr 
                            td #{customer[0].Card}
                            td YYYY-MM-DD UTC
                            td (#ofpieces,prod)
                            td Total $
                            td Cash || Card
    .container-fluid 
        .row
            .col
                h4(style="text-align:center; margin: 2rem 1rem 1rem 1rem; padding: 0.5rem;") Top 10 customer products
                .chart-container(style="margin: 3rem 1rem 2rem 0rem; ")
                    #top_10_per_customer_chart
            .col
                h4(style="text-align:center; margin: 2rem 1rem 1rem 1rem; padding: 0.5rem;") Customer Visiting Hours
                .chart-container(style="margin: 3rem 1rem 1rem 0rem; ")
                    #customer_visiting_hours_chart
      
